<mt:setvarblock name="js_include" append="1">
<script src="<mt:var name="static_uri">plugins/<%= blockName %>/dist/<%= scriptBasename %>.js?v=<mt:var name="v">" type="module"></script>
<link rel="stylesheet" href="<$mt:var name="static_uri"$>plugins/<%= blockName %>/dist/<%= scriptBasename %>.css?v=<mt:var name="v">" />
</mt:setvarblock>
