$root-font-size: 16px;

@define-mixin input {
  font-size: $root-font-size;
  font-weight: normal;
  padding: 6px;
  margin-top: 4px;
  &:focus {
    outline-offset: -2px;
    outline: #ddd auto 3px;
  }
}

@define-mixin full-width {
  width: calc(100% - 2px) !important;
}

@define-mixin form-button {
  padding: 6px 12px;
  border-radius: 3px;
  font-size: 14px;
  border: 1px solid #dddddd;
  color: #333333;
  background-color: #fff;
  cursor: pointer;
  &:hover {
    background-color: #f5f5f5;
  }
}

.mt-block-editor-overlay-open {
  overflow: hidden;
}

.mt-block-editor {
  .mt-be-app {
    padding: 0 40px 0 40px;
    font-size: initial;
  }

  h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, pre {
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    word-break: break-all;
    margin: 0;
  }

  .mt-be-btn-default {
    @mixin form-button;
  }

  .mt-be-btn-primary {
    @mixin form-button;
    background-color: #337ab7;
    color: #fff;
    &:hover {
      background-color: #286090;
    }
  }

  .mt-be-btn-add {
    width: 100%;
    display: block;
    padding: 8px 0;
    border: 0;
    background-color: transparent;
    transition: 0.1s;
    color: #666;
    font-size: 11px;
    &:focus {
      outline: none;
      background-color: #eee;
    }
    &:hover {
      cursor: pointer;
      background-color: #eee;
    }
  }

  .mt-be-btn-command {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border: 0;
    background-color: transparent;
    color: #666;
    font-size: calc($root-font-size * 0.75);

    span {
      white-space: nowrap;
      text-transform: capitalize;
    }

    @media (min-width: 991.5px) {
      min-width: 130px;
      padding: 12px 13px;
      &:focus,
      &:hover {
        outline: none;
        cursor: pointer;
        background-color: #eee;
      }

      img {
        vertical-align: text-top;
        width: 13px;
        margin-right: 4px;
      }
    }

    @media (max-width: 991.5px) {
      width: 100%;
      height: 40px;
      line-height: 40px;
      padding: 0;

      img {
        display: none;
      }
    }
  }

  .mt-be-btn-add-bottom {
    width: 100%;
    position: relative;

    .mt-be-btn-wrap {
      width: 100%;
      display: flex;
      position: relative;

      &.mt-be-btn-wrap--only-shortcuts {
        .mt-be-btn-add {
          display: none;
        }

        @media (min-width: 991.5px) {
          width: auto;
          display: inline-block;

          .mt-be-shortcut-block-list {
            &:after {
              width: 0;
            }
          }
        }

        @media (max-width: 991.5px) {
          .mt-be-shortcut-block-list {
            &:after {
              height: 0;
            }
          }
        }
      }

      &::after {
        content: "";
        z-index: 999;
        background-image: linear-gradient(
            to right,
            #999,
            #999 2px,
            transparent 2px,
            transparent 5px
          ),
          linear-gradient(
            to right,
            #999,
            #999 2px,
            transparent 2px,
            transparent 5px
          ),
          linear-gradient(
            to bottom,
            #999,
            #999 2px,
            transparent 2px,
            transparent 5px
          ),
          linear-gradient(
            to bottom,
            #999,
            #999 2px,
            transparent 2px,
            transparent 5px
          );
        background-size: 5px 1px, 5px 1px, 1px 5px, 1.1px 5px;
        background-position: left top, left bottom, left top, right top;
        background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        pointer-events: none;
      }
    }
  }

  .mt-be-btn-remove {
    background: none;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    content: "";
    background: url(./img/remove.svg) no-repeat;
    background-size: 20px;
    color: #666;
    font-size: 11px;
  }

  .mt-be-btn-move {
    background: none;
    border: none;
    cursor: move;
    width: 18px;
    height: 18px;
    background: url(./img/move.svg) no-repeat;
    background-size: 18px;
  }

  .mt-be-btn-up {
    background: none;
    border: none;
    cursor: pointer;
    width: 18px;
    height: 18px;
    background: url(./img/up.svg) no-repeat;
    background-size: 18px;
  }

  .mt-be-btn-command-panel {
    background: none;
    border: none;
    cursor: pointer;
    width: 18px;
    height: 18px;
    &:before {
      color: #000;
      content: "…";
    }
  }

  .mt-be-btn-down {
    background: none;
    border: none;
    cursor: pointer;
    width: 18px;
    height: 18px;
    background: url(./img/down.svg) no-repeat;
    background-size: 18px;
  }

  .mt-be-block-wrapper {
    position: relative;
    display: flex;
    align-items: flex-start;

    .mt-be-btn-add {
      transition: 0.1s;
    }

    .mt-be-btn-remove-wrapper {
      position: absolute;
      right: -30px;
      display: flex;
      flex-direction: column;
      visibility: hidden;
      top: calc(50% - 18px);
      button {
        transition: 0.1s;
        &:hover {
          opacity: 0.5;
        }
      }
    }
    &.mt-be-focus-leader > .mt-be-btn-remove-wrapper {
      visibility: visible;
      z-index: 50;
    }

    .mt-be-btn-move-wrapper {
      position: absolute;
      left: -30px;
      height: 50px;
      top: calc(50% - 35px);
      display: flex;
      flex-direction: column;
      visibility: hidden;

      .mt-be-btn-up,
      .mt-be-btn-move,
      .mt-be-btn-down {
        transition: 0.1s;
        &:hover {
          opacity: 0.3;
        }
      }
    }

    &.mt-be-focus-leader > .mt-be-btn-move-wrapper {
      visibility: visible;
    }

    .mt-be-btn-add-wrapper {
      width: 100%;
      height: 40px;
      top: -20px;
      display: block;
      position: absolute;
      cursor: pointer;

      .mt-be-btn-add {
        width: 100%;
        transition: 0.1s;
        position: relative;
        text-align: left;
        background-color: transparent;
        opacity: 0;

        &:before {
          position: absolute;
          content: "+";
          left: calc(50% - 16px);
          top: -4px;
          width: 32px;
          height: 32px;
          line-height: 32px;
          text-align: center;
          font-weight: bold;
          font-size: 32px;
          transition: 0.1s;
          color: #666;
          padding: 0 2px;
          z-index: 400;
          text-shadow: 4px 4px 0 #fff, -4px -4px 0 #fff, -4px 4px 0 #fff,
            4px -4px 0 #fff, 0px 4px 0 #fff, 0 -4px 0 #fff, -4px 0 0 #fff,
            4px 0 0 #fff;
        }

        &:after {
          background-size: 0px, 5px 1px, 0px, 0px;
          z-index: -1;
        }
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .mt-be-block {
    width: 100%;
    position: relative;
    padding: 8px;
    margin-bottom: $root-font-size;
    transition: 0.1s;
    &:hover,
    &:focus,
    &:focus-within {
      box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
    }

    .mt-be-input-container {
      border: 1px solid rgb(118, 118, 118);
      border-radius: 3px;
      padding: 6px;
    }

    .mt-be-input {
      @mixin input;
    }

    .mt-be-input--static {
      @mixin input;
      display: inline-block;
      margin-top: 10px;
    }

    .mt-be-input--full-width {
      @mixin full-width;
    }

    .mt-be-label-name {
      display: inline-block;
      width: 100%;
      margin-bottom: 20px;
      font-size: calc($root-font-size * 0.75);
      font-weight: normal;
      font-family: inherit;
      line-height: normal;
      color: #666;
      > input,
      > textarea,
      > select {
        @mixin input;
        @mixin full-width;
      }

      + .mt-be-input-container,
      + .mt-be-input {
        display: block;
        margin-top: -16px;
      }
    }

    .mt-be-content-label {
      pointer-events: none;
      position: absolute;
      top: -9px;
      left: 4px;
      padding: 0 5px;
      font-size: calc($root-font-size * 0.75);
      color: #666;
      transition: 0.1s;
      background: white;
      opacity: 0;
    }
    &:hover > .mt-be-content-label {
      opacity: 1;
    }
    hr {
      border-top: 1px solid #666;
    }
  }

  .mt-be-block-wrapper .mt-be-block {
    .mt-be-btn-move-wrapper {
      left: -40px;
    }
  }

  .mt-be-block-list-wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20px;
    z-index: 1100;
    left: calc(50% - 144px);
    transition: 0.1s ease-in-out;

    &.mt-be-block-list-wrapper-none {
      display: none;
    }

    &.mt-be-block-list-wrapper-enter,
    &.mt-be-block-list-wrapper-exit {
      opacity: 0;
    }

    &.mt-be-block-list-wrapper-enter-active,
    &.mt-be-block-list-wrapper-enter-done {
      opacity: 1;
      top: 32px;
    }

    .mt-be-block-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1px;
      margin: 0;
      padding: 0px;
      background: white;
      outline: 1px solid #ddd;
      width: 290px;

      li {
        margin: 0;
        height: calc(68px + 16px);
        list-style: none;
        outline: 1px solid #eee;

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          width: 100%;
          height: 100%;
          padding: 8px;
          text-decoration: none;
          font-size: calc($root-font-size * 0.5);
          color: #333333;
          transition: 0.1s;
          border: none;
          background-color: transparent;

          &:hover {
            background-color: #eee;
          }

          img {
            width: 20px;
            height: 20px;
            margin-bottom: 8px;
          }

          span {
            display: block;
          }
        }
      }
    }
  }

  .mt-be-shortcut-block-list {
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      width: 1px;
      height: 28px;
      top: 7px;
      right: -1px;
      background-color: #ddd;
    }

    li {
      margin: 0;
      list-style: none;

      button {
        height: 40px;
        line-height: 40px;
        display: block;
        padding: 2px 10px;
        position: relative;
        transition: 0.1s;
        border: none;
        background-color: transparent;

        &:hover {
          background-color: #eee;
        }

        img {
          width: 16px;
          height: 16px;
          vertical-align: inherit;
        }
      }
    }
  }

  .mt-be-focus .mt-be-block {
    outline: 2px solid #337ab7;

    .mt-be-block {
      outline: none;
    }
  }

  .mt-be-droppable:before {
    display: block;
    position: absolute;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    text-align: center;
    color: white;
    background-color: rgba(21, 50, 76, 0.9);
    pointer-events: none;
  }

  /* setup */

  .mt-be-label-block {
    font-weight: bold;
  }

  .mt-be-help-block {
    font-weight: normal;
    color: #737373;
  }

  /* mt-be-columns */
  .mt-be-columns {
    .mt-be-column {
      position: relative;
      flex-basis: 50%;
      padding: 0 15px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .mt-be-block-toolbar {
    position: absolute;
    width: max-content;
    left: -8px;
    background: white;
    z-index: 1000;
    top: -39px;
    border: 1px solid #ddd;

    &.mt-be-block-toolbar--no-border {
      border: none;
    }

    .mt-be-block-toolbar-button {
      height: 32px;
      width: 32px;
      padding: 0;
      border: none;
      background: transparent;
      cursor: pointer;
      transition: 0.1s;
      img {
        width: 16px;
        height: 16px;
        left: -1px;
        top: -2px;
        position: relative;
      }
      &:hover {
        background-color: #eee;
      }
      &:focus {
        outline: none;
      }
    }

    .mce-tinymce {
      box-shadow: none;
    }

    &.mt-be-block-toolbar--x2 {
      top: -70px;
      left: -1px;
    }

    &.mt-be-block-toolbar--default {
      display: none;
    }

    &.mt-be-block-toolbar--tinymce {
      .tox-pop {
        width: max-content;
      }
    }

    &.mt-be-block-toolbar--mt-rich-text-editor {
      border: 1px solid #ddd;
      border-radius: 4px;
      left: -1px;
      top: -43px;
      &.mt-be-block-toolbar--x2 {
        top: -85px;
      }
    }
  }

  .mt-be-block-toolbar-default-items {
    display: none;
  }

  .mt-be-block-config-panel {
    font-size: calc($root-font-size * 0.75);
    position: absolute;
    width: auto;
    height: auto;
    left: 0px;
    top: -4px;
    background: rgba(255, 255, 255, 0.9);
    z-index: 1000;

    color: #666;
    padding: 12px;
    border: 1px solid #ddd;

    transition: 0.1s ease-in-out;

    &.mt-be-block-config-panel-enter,
    &.mt-be-block-config-panel-exit {
      opacity: 0;
    }

    &.mt-be-block-config-panel-enter-active,
    &.mt-be-block-config-panel-enter-done {
      opacity: 1;
    }

    ul {
      padding: 0;
      margin: 0;
      li {
        margin-right: 12px;
        label {
          cursor: pointer;
        }
        input {
          cursor: pointer;
          margin-right: 4px;
        }
      }
    }
  }

  .mt-be-block-command-panel {
    position: absolute;
    width: auto;
    height: auto;
    right: 20px;
    top: -4px;
    background: rgba(255, 255, 255, 1);
    z-index: 2000;

    color: #666;
    border: 1px solid #ddd;

    transition: opacity 0.1s ease-in-out;

    &.mt-be-block-command-panel-enter,
    &.mt-be-block-command-panel-exit {
      opacity: 0;
    }

    &.mt-be-block-command-panel-enter-active,
    &.mt-be-block-command-panel-exit-done {
      opacity: 1;
    }

    &[data-mt-be-block-command-panel-placement="bottom"] {
      right: unset;
      top: 55px;
    }

    .mt-be-command-list {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .mt-be-btn-add {
      text-align: left;
    }
  }

  /* utility */
  .visible {
    visibility: visible;
  }
  .invisible {
    visibility: hidden;
  }

  .mt-be-input--hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    border: none;
    margin: 0;
    padding: 0;
  }

  /* tinymce */
  .mce-edit-focus {
    outline: 0px !important;
  }

  .mce-content-body {
    font-family: inherit;
    line-height: inherit;
    table:not(.mce-item-table) {
      tbody, td, tfoot, th, thead, tr {
        border-width: 1px;
      }
    }
  }

  .mce-item-table {
    width: 100%;
  }

  .mt-be-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: rgba(255, 255, 255, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;

    .mt-be-dialog {
      transition: 0.3s ease-in-out;
    }
    &.mt-be-overlay-enter {
      .mt-be-dialog {
        opacity: 0;
        margin-top: -128px;
      }
    }
    &.mt-be-overlay-enter-active,
    &.mt-be-overlay-exit {
      .mt-be-dialog {
        opacity: 1;
        margin-top: 0;
      }
    }
    &.mt-be-overlay-exit-active {
      .mt-be-dialog {
        opacity: 0;
        margin-top: -128px;
      }
    }

    .mt-be-dialog-content {
      background: white;
      width: 600px;
      max-width: 600px;
      border-radius: 6px;
      box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
    }

    .mt-be-dialog-header {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      border-bottom: 1px solid #ddd;
    }

    .mt-be-dialog-btn-close {
      font-size: 21px;
      font-weight: 700;
      line-height: 1;
      border: 0;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      opacity: 0.2;
      background: #fff;

      &:hover {
        opacity: 0.5;
      }
    }

    .mt-be-dialog-title {
      font-size: calc($root-font-size * 1.2);
      font-weight: normal;
      margin: 0;
    }

    .mt-be-dialog-body {
      padding: 10px;
    }

    .mt-be-dialog-footer {
      padding: 10px;
      border-top: 1px solid #ddd;
      text-align: right;

      button + button {
        margin-left: 5px;
      }
    }

    .mt-be-label-name {
      display: flex;
      align-items: center;
      margin-bottom: .9rem;

      .mt-be-label-block {
        width: 25%;
        max-width: 25%;
        text-align: right;
        padding: 0 15px;
        white-space: nowrap;
      }

      .mt-be-input {
        @mixin input;
        width: 75%;
        margin: 0 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
        height: 34px;
      }
    }
  }
}

@media (max-width: 991.5px) {
  .mt-block-editor {
    .mt-be-app {
      padding: 0 0;
      margin: 0 16px;
    }

    .mt-be-btn-command-panel {
      width: 32px;
      height: 34px;
      position: relative;
      &:before {
        font-size: 18px;
        position: relative;
        display: inline-flex;
        justify-content: center;
        top: -5px;
      }
    }

    .mt-be-btn-move {
      height: 28px;
      background-position: center center;
    }

    .mt-be-btn-up,
    .mt-be-btn-down {
      width: 34px;
      height: 35px;
      border-right: 1px solid #dddddd;
      padding: 12px 12px;
      background-size: 22px;
      background-position: center center;
    }
    .mt-be-block-toolbar--mt-rich-text-editor {
      .mt-be-btn-up,
      .mt-be-btn-down {
        width: 34px;
        height: 40px;
      }
    }

    .mt-be-btn-add {
      height: 40px;
      line-height: 40px;
      padding: 0;
      font-size: 12px;
      &:before {
        height: 28px;
        line-height: 28px;
        font-size: 12px;
      }
    }
    .mt-be-btn-add-bottom .mt-be-btn-wrap {
      flex-direction: column-reverse;
    }
    .mt-be-shortcut-block-list {
      justify-content: center;
      li {
        button {
          padding: 6px 12px;
          img {
            width: 24px;
            height: 24px;
          }
        }
      }
      &:after {
        width: calc(100% - 18px);
        height: 1px;
        top: 0px;
        left: 8px;
        z-index: 200;
      }
    }

    .mt-be-block {
      .mt-be-content-label {
        font-size: 12px;
      }
    }

    .mt-be-block-toolbar {
      width: 100% !important;
      left: 0;
      border: 0;

      &.mt-be-block-toolbar--default {
        display: block;
        height: 32px;
      }

      &.mt-be-block-toolbar--tinymce {
        width: 100% !important;
        .mce-tinymce,
        .mce-container-body {
          width: 100% !important;
        }
      }

      .mce-container-body.mce-flow-layout {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
      }

      .mt-be-block-toolbar-button {
        border: 1px solid #dddddd;
      }
    }

    .mt-be-columns .mt-be-block-toolbar.mt-be-block-toolbar--tinymce {
      max-width: calc(100vw - 15px) !important;

      .mce-tinymce,
      .mce-container-body {
        max-width: calc(100vw - 15px) !important;
      }
    }

    .mt-be-block-toolbar-default-items {
      display: inline;
      position: absolute;
      height: 36px;
      z-index: 3;
      bottom: 0;
      right: 0;
      border: 1px solid #dddddd;
      background-color: #ffffff;
    }
    .mt-be-block-toolbar--mt-rich-text-editor
      .mt-be-block-toolbar-default-items {
      border-width: 0 1px 0;
      height: 39px;
    }

    .mt-be-block-toolbar--tinymce {
      .mce-btn-group:not(:first-child) {
        border-left: 0px;
      }
      .mt-be-block-toolbar-default-items {
        bottom: 0px;
        right: 0px;
        border: 0;
        background-color: transparent;
        .mt-be-btn-up,
        .mt-be-btn-down {
          border-right: 0px;
          width: 26px;
        }
      }
    }

    .mt-be-block-wrapper {
      margin: 10px 0;

      .mt-be-btn-move-wrapper,
      .mt-be-btn-remove-wrapper,
      .mt-be-btn-add-wrapper {
        display: none;
      }
    }

    .mt-be-block-list-wrapper {
      .mt-be-block-list {
        li {
          button {
            font-size: 12px;
            line-height: 1;
            img {
              width: 24px;
              height: 24px;
              margin-bottom: 8px;
            }
          }
        }
      }
    }
    .mt-be-block-list-wrapper:not(.mt-be-block-list-wrapper--bottom) {
      position: fixed;
    }
    .mt-be-block-command-panel {
      padding: 4px 12px;
      top: -4px;
      right: 0px;
    }

    .mt-be-overlay {
      .mt-be-dialog-content {
        width: calc(100vw - 32px);
      }
      .mt-be-label-name {
        .mt-be-label-block {
          width: 200px;
        }
      }
    }
  }
}
