.mt-block-editor {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;

  .btn-add {
    background: none;
    border: none;

    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }

    &:before {
      display: inline-block;
      width: 20px;
      height: 20px;
      content: "";
      background: url(./img/add.svg);
      background-size: cover;
    }
  }

  .btn-remove {
    background: none;
    border: none;

    cursor: pointer;

    width: 20px;
    height: 20px;
    content: "";
    background: url(./img/remove.svg);
    background-size: cover;
  }

  .btn-move {
    background: none;
    border: none;

    cursor: move;

    width: 18px;
    height: 18px;
    content: "";
    background: url(./img/move.svg);
    background-size: cover;
  }

  .btn-up {
    background: none;
    border: none;

    cursor: pointer;

    width: 18px;
    height: 18px;
    content: "";
    background: url(./img/up.svg);
    background-size: cover;
  }

  .btn-down {
    background: none;
    border: none;

    cursor: pointer;

    width: 18px;
    height: 18px;
    content: "";
    background: url(./img/down.svg);
    background-size: cover;
  }

  .block-wrapper {
    margin: 10px 0;
    position: relative;
    display: flex;
    align-items: flex-start;

    .btn-add {
      visibility: hidden;
    }

    .btn-add-wrapper {
      position: absolute;
      z-index: 999;
      width: 100%;
      top: -20px;
      text-align: center;
    }

    .btn-add-wrapper:hover .btn-add {
      visibility: visible;
    }

    .btn-remove-wrapper {
      display: flex;
      flex-direction: column;
      visibility: hidden;
    }
    &.focus > .btn-remove-wrapper {
      visibility: visible;
    }

    .btn-move-wrapper {
      display: flex;
      flex-direction: column;
      visibility: hidden;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    &.focus > .btn-move-wrapper {
      visibility: visible;
    }

    .btn-add-bottom .btn-add {
      visibility: visible;
    }
  }

  .block {
    width: 100%;
    margin: 0 10px;
    position: relative;
  }

  .btn-add-bottom {
    text-align: center;

    position: relative;
  }

  .block-list-wrapper {
    display: flex;
    justify-content: center;

    position: absolute;
    top: 30px;
    z-index: 1;
    left: calc(50% - 195px);

    .block-list {
      display: flex;
      margin: 0;
      padding: 0;
      background: white;
      border: 1px solid #ccc;
      width: 400px;
      flex-wrap: wrap;

      li {
        display: inline-block;
        width: 130px;
        list-style: none;
        font-size: 0.8rem;

        a {
          display: block;
        }

        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  .block {
    padding: 15px;
  }

  .focus .block {
    outline: 1px solid #ccc;
  }

  .droppable:before {
    display: block;
    position: absolute;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    text-align: center;
    color: white;
    background-color: rgba(21, 50, 76, 0.9);
  }

  /* blocks */
  p {
    font-size: initial;
  }

  /* columns */
  .column {
    outline: 1px solid #ccc;
    padding: 10px;
    position: relative;
    flex-basis: 50%;
  }

  .block-toolbar {
    position: absolute;
    left: -1px;
    background: white;
    z-index: 1000;

    top: -36px;
    &.block-toolbar--x2 {
      top: -70px;
    }

    border: 1px solid #ccc;
    &.block-toolbar--no-border {
      border: none;
    }

    .mce-tinymce {
      box-shadow: none;
    }

    .block-toolbar-button {
      margin: 4px;
      padding: 0;
      border: none;
      background: transparent;
      cursor: pointer;
      height: 26px;

      img {
        margin: 2px;
        width: 20px;
        height: 20px;
      }

      &:hover {
        outline: 1px solid #ccc;
      }
    }
  }

  /* utility */
  .visible {
    visibility: visible;
  }
  .invisible {
    visibility: hidden;
  }
}
